{
    "driver_config": {"device_address":"192.168.1.4","device_port":"9999",
                       "device_id":"pi"},
                       #change IP address according your RaspberryPi IP address, and designed port on your Socket Server file
                       
    "campus":"campus",
    "unit": "motiondetect_device",
    "driver_type": "gpio", #this will use the created agent interface for gpio 
    "registry_config":"/home/priyankkapadia/summer/project/volttron/services/core/MasterDriverAgent/master_driver/motiondetect.csv",
    #change directory to your csv register points file
    "interval": 5,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat"
}
