{
    "driver_config": {"device_address":"192.168.1.2","device_port":"9999",
                       "device_id":"pi"},
    "campus":"campus",
    "unit": "motiondetect_device",
    "driver_type": "gpio",
    "registry_config":"/home/priyankkapadia/summer/project/volttron/services/core/MasterDriverAgent/master_driver/motiondetect.csv",
    "interval": 5,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat"
}
