{
    "driver_config": {"device_address": "5701:37",
    				  "device_id":"990037" },
    "campus": "campus",
    "building": "building",
    "unit": "bacnet1",
    "driver_type": "bacnet",
    "registry_config":"/home/priyankkapadia/summer/project/volttron/services/core/MasterDriverAgent/master_driver/bac3.csv",
    "interval": 300,
    "timezone": "UTC"
}
