{
    "driver_config": {"device_address": "192.168.1.99","slave_id":"16"},
    "campus": "campus",
    "building": "building",
    "unit": "modbus",
    "driver_type": "vav",
    "registry_config":"/home/priyankkapadia/summer/project/volttron/services/core/MasterDriverAgent/master_driver/modbus_2.csv",
    "interval": 5,
    "timezone": "UTC"
}
